# Dependencies
node_modules
npm-debug.log

# Build output
dist
build

# Environment files
.env
.env.*

# IDE and editor files
.idea
.vscode
*.swp
*.swo

# Git files
.git
.gitignore

# Fiber related
fiber-node/fnn
fiber/target

# Misc
.DS_Store
*.log
